Python Dependencies

This file contains the required Python libraries used in the SeatMe project.

Included Libraries
boto3

AWS SDK for Python.

This library is used to communicate with AWS services such as:

DynamoDB
Lambda
SNS
S3
API Gateway

In the current stage of the project, boto3 is mainly used for:

Creating DynamoDB tables
Inserting seed data
Managing database operations
Installation

Install all required libraries using:

pip install -r requirements.txt

Dependencies

boto3